@import '../../variable';
@import '../../functions';

.tablist {
    :global(.am-tabs-bar) {
        position: fixed;
        top: $navbar-height;
        z-index: 5000;
        width: 100%;
        :global(.am-tabs-tab) {
            height: $index-tab-height;
            line-height: $index-tab-height;
        }
    }
    :global(.am-tabs-tabpane) {
        margin-top: covertHeight(74);
    }
}