.icon {
  display: flex;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: cover; }

.more {
  background-image: url(../../../images/navbar/lo.png); }

.actionbar {
  height: 90px; }

.search {
  background-image: url(../../../images/navbar/m8.png); }
