.tablist :global(.am-tabs-bar) {
  position: fixed;
  top: 112.70187px;
  z-index: 5000;
  width: 100%; }
  .tablist :global(.am-tabs-bar) :global(.am-tabs-tab) {
    height: 81.27539px;
    line-height: 81.27539px; }

.tablist :global(.am-tabs-tabpane) {
  margin-top: 80.19171px; }
