body {
  font-family: Helvetica,sans-serif; }

.theme-bg-color {
  background-color: #ce3d3a; }
  .theme-bg-color.am-navbar {
    background-color: #ce3d3a; }

.color-text-base {
  color: #333; }
  .color-text-base .am-tabs-bar .am-tabs-tab {
    color: #333; }
  .color-text-base .am-tabs-bar .am-tabs-tab-active {
    color: #ce3d3a; }
  .color-text-base .am-list-item .am-list-line .am-list-content {
    color: #333; }

.fill-base {
  background-color: #f2f4f5; }

.fill-module-base {
  background-color: #e6e6e6; }

.border-bottom-base {
  border-bottom: 1px solid #e6e6e6; }

div.am-navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 112.70187px;
  z-index: 5000; }
  div.am-navbar a {
    display: flex; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF; }

.page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 112.70187px;
  box-sizing: border-box;
  overflow: auto; }

@keyframes page-sfu-enter {
  from {
    transform: translate3d(0, 6%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes page-rfu-leave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 20%, 0); } }

.page-transition-sfu-enter-active {
  pointer-events: none;
  z-index: 5001; }

.page-transition-rfu-leave-active {
  pointer-events: none;
  z-index: 5001; }

.page-transition-sfu-enter-active {
  animation-name: page-sfu-enter;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.page-transition-rfu-leave-active {
  animation-name: page-rfu-leave;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

div.am-carousel-wrap-dot span {
  height: 15px;
  width: 15px; }

div.am-carousel-wrap-dot-active > span {
  background-color: #ce3d3a; }
