.scrollContent {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  touch-action: pan-y;
  box-sizing: border-box;
  padding-bottom: 98px; }
  .scrollContent :global(.am-whitespace) {
    height: 12.5px; }

.top_bg {
  background-image: url(../images/drawer/afr.png);
  width: 100%;
  height: 374.95045px;
  background-size: cover;
  color: #b2b2b2;
  text-align: center;
  padding-top: 79.10804px;
  box-sizing: border-box;
  font-size: 26px;
  line-height: 1; }
  .top_bg p:first-child {
    margin-bottom: 13.00406px; }
  .top_bg :global(.am-button) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 317.51584px;
    height: 67.18765px;
    text-decoration: none;
    background: transparent;
    color: #FFF;
    margin: 52.01625px auto 0;
    border: 1px solid #b2b2b2;
    border-radius: 50px;
    font-size: 26px;
    line-height: 1; }

.toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0; }
  .toolbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    font-size: 30px;
    text-decoration: none;
    height: 98px;
    line-height: 1;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #e6e6e6; }
    .toolbar a:first-child {
      flex: 1.3 1 0%; }
  .toolbar i {
    display: block;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 20px; }
    .toolbar i:global(.mode) {
      background-image: url(../images/drawer/ag5.png); }
    .toolbar i:global(.settings) {
      background-image: url(../images/drawer/ag6.png); }
    .toolbar i:global(.logout) {
      background-image: url(../images/drawer/afx.png); }

.list :global(.am-list-body) {
  border-top: none; }
  .list :global(.am-list-body):after {
    border-bottom: none; }

.list :global(.am-list-body div:not(:last-child) .am-list-line:after) {
  border-bottom: none; }

.list :global(.am-list-item) {
  padding-left: 25px; }
  .list :global(.am-list-item) i {
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-image: url(../images/drawer/a3a.png); }

.list :global(.am-list-thumb:first-child) {
  margin-right: 21px; }

.list :global(.am-list-line) {
  padding-right: 25px; }
  .list :global(.am-list-line) :global(.am-list-content) {
    line-height: 1;
    font-size: 27px;
    padding-top: 28px;
    padding-bottom: 28px; }
